<!-- ===== Start of Popular Categories Section ===== -->
<section class="ptb80" id="categories">
    <div class="container">

        <div class="section-title pb20">
            <h2>popular categories</h2>
        </div>

        <div class="row nomargin">
            <app-popular-categories-list [categoryList]="categoryData"></app-popular-categories-list>
        </div>

        <div class="col-md-12 mt60 text-center">
            <a routerLink="/search-job" class="btn btn-blue btn-effect nomargin">browse all</a>
        </div>

    </div>
</section>
<!-- ===== End of Popular Categories Section ===== -->