<!-- =============== Start of Page Header 1 Section =============== -->
<section class="page-header">
    <div class="container">
        <!-- Start of Page Title -->
        <div class="row">
            <div class="col-md-12">
                <h2>Terms & Condition</h2>
            </div>
        </div>
        <!-- End of Page Title -->
        <!-- Start of Breadcrumb -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="javascript:void(0)">home</a></li>
                    <li class="active">pages</li>
                </ul>
            </div>
        </div>
        <!-- End of Breadcrumb -->
    </div>
</section>
<!-- =============== End of Page Header 1 Section =============== -->

<!-- ===== Start of About Us Section ===== -->
<section class="about-us ptb80">
    <div class="container">
        <div class="row">

            <!-- Start of First Column -->
            <div class="col-md-6 col-xs-12">
                <h3 class="text-blue">About Cariera</h3>
                <p class="pt30">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus at eros eu molestie. Aenean condimentum augue quam, et luctus lectus viverra at. Suspendisse finibus imperdiet sem, sed semper mi egestas in. Curabitur vitae eros hendrerit, egestas leo quis, feugiat risus. Aliquam venenatis lectus luctus ante gravida, ac volutpat orci lobortis. Fusce eget laoreet nisi.</p>

            </div>
            <!-- End of First Column -->

            <!-- Start of Second Column -->
            <div class="col-md-6 col-xs-12 about-video">
                <!-- Vimeo Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/176916362?title=0&amp;byline=0&amp;portrait=0" allowfullscreen=""></iframe>
                </div>
            </div>
            <!-- End of Second Column -->

        </div>
    </div>
</section>
<!-- ===== End of About Us Section ===== -->

<!-- ===== Start of Back to Top Button ===== -->
<a href="#" class="back-top"><i class="fa fa-chevron-up"></i></a>
<!-- ===== End of Back to Top Button ===== -->