<!-- =============== Start of Page Header 1 Section =============== -->
<section class="page-header">
    <div class="container">

        <!-- Start of Page Title -->
        <div class="row">
            <div class="col-md-12">
                <h2>{{page_content?.page_title}}</h2>
            </div>
        </div>
        <!-- End of Page Title -->

        <!-- Start of Breadcrumb -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="#">home</a></li>
                    <li class="active">pages</li>
                </ul>
            </div>
        </div>
        <!-- End of Breadcrumb -->

    </div>
</section>
<!-- =============== End of Page Header 1 Section =============== -->





<!-- ===== Start of Main Wrapper Section ===== -->
<section class="ptb80" id="contact">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-xs-12">
                <div  [innerHtml]="page_content?.page_description"></div>
                <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> -->

                <!-- Start of Contact Form -->
                <form id="contact-form" class="mt30">

                    <!-- contact result -->
                    <div id="contact-result"></div>
                    <!-- end of contact result -->

                    <!-- Form Group -->
                    <div class="form-group">
                        <input class="form-control input-box" type="text" name="name" placeholder="Your Name" autocomplete="off">
                    </div>

                    <!-- Form Group -->
                    <div class="form-group">
                        <input class="form-control input-box" type="email" name="email" placeholder="your-email@cariera.com" autocomplete="off">
                    </div>

                    <!-- Form Group -->
                    <div class="form-group">
                        <input class="form-control input-box" type="tel" name="phone" placeholder="Phone Number" autocomplete="off">
                    </div>

                    <!-- Form Group -->
                    <div class="form-group">
                        <input class="form-control input-box" type="text" name="subject" placeholder="Subject" autocomplete="off">
                    </div>

                    <!-- Form Group -->
                    <div class="form-group mb20">
                        <textarea class="form-control textarea-box" rows="8" name="message" placeholder="Type your message..."></textarea>
                    </div>

                    <!-- Form Group -->
                    <div class="form-group text-center">
                        <button class="btn btn-blue btn-effect" type="submit">Send message</button>
                    </div>
                </form>
                <!-- End of Contact Form -->
            </div>

            <!-- Start of Google Map -->
            <div class="col-md-6 col-xs-12 gmaps">
                <div id="map"></div>
            </div>
            <!-- End of Google Map -->

        </div>
    </div>
</section>
<!-- ===== End of Main Wrapper Section ===== -->
<!-- ===== Start of Back to Top Button ===== -->
<a href="#" class="back-top"><i class="fa fa-chevron-up"></i></a>
<!-- ===== End of Back to Top Button ===== -->