<!-- =============== Start of Page Header 1 Section =============== -->
<section class="page-header">
    <div class="container">

        <!-- Start of Page Title -->
        <div class="row">
            <div class="col-md-12">
                <h2>about us</h2>
            </div>
        </div>
        <!-- End of Page Title -->

        <!-- Start of Breadcrumb -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="javascript:void(0)">home</a></li>
                    <li class="active">pages</li>
                </ul>
            </div>
        </div>
        <!-- End of Breadcrumb -->

    </div>
</section>
<!-- =============== End of Page Header 1 Section =============== -->





<!-- ===== Start of About Us Section ===== -->
<section class="about-us ptb80">
    <div class="container">
        <div class="row">

            <!-- Start of First Column -->
            <div class="col-md-6 col-xs-12">
                <h3 class="text-blue">About Cariera</h3>
                <p class="pt30">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus at eros eu molestie. Aenean condimentum augue quam, et luctus lectus viverra at. Suspendisse finibus imperdiet sem, sed semper mi egestas in. Curabitur vitae eros hendrerit, egestas leo quis, feugiat risus. Aliquam venenatis lectus luctus ante gravida, ac volutpat orci lobortis. Fusce eget laoreet nisi.</p>

            </div>
            <!-- End of First Column -->

            <!-- Start of Second Column -->
            <div class="col-md-6 col-xs-12 about-video">
                <!-- Vimeo Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/176916362?title=0&amp;byline=0&amp;portrait=0" allowfullscreen=""></iframe>
                </div>
            </div>
            <!-- End of Second Column -->

        </div>
    </div>
</section>
<!-- ===== End of About Us Section ===== -->





<!-- ===== Start of About Process Section ===== -->
<section class="about-process ptb80">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="section-title">
                    <h2>how it works</h2>
                </div>
            </div>

            <!-- Start of First Column -->
            <div class="col-md-4 col-xs-12 text-center">
                <div class="process-icon">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>

                <h5 class="uppercase text-blue pt40">step 1</h5>
                <h3 class="pb20">Register</h3>
                <p>Start by creating an account on our awesome platform</p>
            </div>
            <!-- End of First Column -->


            <!-- Start of Second Column -->
            <div class="col-md-4 col-xs-12 text-center">
                <div class="process-icon">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                </div>

                <h5 class="uppercase text-blue pt40">step 2</h5>
                <h3 class="pb20">Submit Resume</h3>
                <p>Fill out our forms and submit your resume right away</p>
            </div>
            <!-- End of Second Column -->


            <!-- Start of Third Column -->
            <div class="col-md-4 col-xs-12 text-center">
                <div class="process-icon">
                    <i class="fa fa-money" aria-hidden="true"></i>
                </div>

                <h5 class="uppercase text-blue pt40">step 3</h5>
                <h3 class="pb20">Start Working</h3>
                <p>Start your new career by working with one of the most successful companies</p>
            </div>
            <!-- End of Third Column -->

        </div>
    </div>
</section>
<!-- ===== End of About Process Section ===== -->





<!-- ===== Start of FAQ Section ===== -->
<section class="ptb80" id="faq-page">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="section-title">
                    <h2>frequently asked questions</h2>
                </div>
            </div>

            <!-- Start of Topic 1 -->
            <div class="col-md-12 topic">
                <!-- Question -->
                <div class="open">
                    <h6 class="question" data-search-term="1. how does cloudify work?">1. How does Cariera work?</h6>
                    <i class="fa fa-angle-down hidden-xs"></i>
                </div>

                <!-- Answer -->
                <p class="answer" style="display: none;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <!-- End of Topic 1 -->

            <!-- Start of Topic 2 -->
            <div class="col-md-12 topic">
                <!-- Question -->
                <div class="open">
                    <h6 class="question" data-search-term="2. does it work on all devices?">2. How can I register?</h6>
                    <i class="fa fa-angle-down hidden-xs"></i>
                </div>

                <!-- Answer -->
                <p class="answer" style="display: none;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <!-- End of Topic 2 -->

            <!-- Start of Topic 3 -->
            <div class="col-md-12 topic">
                <!-- Question -->
                <div class="open">
                    <h6 class="question" data-search-term="3. where can i buy cloudify?">3. How can I submit my Resume?</h6>
                    <i class="fa fa-angle-down hidden-xs"></i>
                </div>

                <!-- Answer -->
                <p class="answer" style="display: none;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <!-- End of Topic 3 -->

            <!-- Start of Topic 4 -->
            <div class="col-md-12 topic">
                <!-- Question -->
                <div class="open">
                    <h6 class="question" data-search-term="4. how can i host my website on cloudify?">4. How can I post a Job?</h6>
                    <i class="fa fa-angle-down hidden-xs"></i>
                </div>

                <!-- Answer -->
                <p class="answer" style="display: none;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <!-- End of Topic 4 -->
            
            <!-- Start of Topic 5 -->
            <div class="col-md-12 topic">
                <!-- Question -->
                <div class="open">
                    <h6 class="question" data-search-term="4. how can i host my website on cloudify?">5. How can I buy Cariera?</h6>
                    <i class="fa fa-angle-down hidden-xs"></i>
                </div>

                <!-- Answer -->
                <p class="answer" style="display: none;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <!-- End of Topic 5 -->

        </div>
    </div>
</section>
<!-- ===== End of FAQ Section ===== -->





<!-- ===== Start of Get Started Section ===== -->
<section class="get-started ptb40">
    <div class="container">
        <div class="row ">

            <!-- Column -->
            <div class="col-md-10 col-sm-9 col-xs-12">
                <h3 class="text-white">20,000+ People trust Cariera! Be one of them today.</h3>
            </div>

            <!-- Column -->
            <div class="col-md-2 col-sm-3 col-xs-12">
                <a href="#" class="btn btn-blue btn-effect">get start now</a>
            </div>

        </div>
    </div>
</section>
<!-- ===== End of Get Started Section ===== -->
<!-- ===== Start of Back to Top Button ===== -->
<a href="#" class="back-top"><i class="fa fa-chevron-up"></i></a>
<!-- ===== End of Back to Top Button ===== -->