<!-- Start of Job Post Sidebar -->
<div class="col-md-4 col-xs-12 job-post-sidebar">
    <h2 class="capitalize"><i class="fa fa-star"></i>golden jobs</h2>

    <!-- Start of Featured Job Widget -->
    <div class="featured-job widget mt60">

        <!-- Start of Company Logo -->
        <div class="company">
            <img src="assets/images/companies/cloudify.svg" alt="">
        </div>
        <!-- End of Company Logo -->

        <!-- Start of Featured Job Info -->
        <div class="featured-job-info">

            <!-- Job Title -->
            <div class="job-title">
                <h5 class="uppercase pull-left">ui designer</h5>
                <a href="javascript:void(0)" class="btn btn-green btn-small btn-effect pull-right">full time</a>
            </div>

            <!-- Job Info -->
            <div class="job-info pt5">
                <span id="company"><i class="fa fa-building-o"></i>cloudify</span>
                <span id="location"><i class="fa fa-map-marker"></i>london, uk</span>
            </div>

            <p class="mt20"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>

            <!-- View Job Button -->
            <div class="text-center mt20">
                <a href="job-page.html" class="btn btn-purple btn-small btn-effect">view job</a>
            </div>
        </div>
        <!-- End of Featured Job Info -->

    </div>
    <!-- End of Featured Job Widget -->

    <!-- Start of Upload Resume Widget -->
    <div class="upload-resume widget mt40 text-center">
        <h4 class="capitalize">upload your resume</h4>
        <p class="mtb10"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>

        <a href="submit-resume.html" class="btn btn-blue btn-effect mt10">upload resume</a>
    </div>
    <!-- End of Upload Resume Widget -->
</div>
<!-- End of Job Post Sidebar -->
<!-- <app-golden-job-list></app-golden-job-list> -->
