<div class="col-md-3 col-sm-6 col-xs-6 footer-links">
    <h3>useful links</h3>

    <!-- Links -->
    <ul class="nopadding">
        <li><a href="post-job.html"><i class="fa fa-angle-double-right"></i>add job</a></li>
        <li><a href="blog-right-sidebar-v1.html"><i class="fa fa-angle-double-right"></i>blog</a></li>
        <li><a href="search-jobs-1.html"><i class="fa fa-angle-double-right"></i>find jobs</a></li>
        <li><a href="faq.html"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
        <li><a href="login.html"><i class="fa fa-angle-double-right"></i>login</a></li>
        <li><a href="privacy-policy.html"><i class="fa fa-angle-double-right"></i>privacy policy</a></li>
        <li><a href="register.html"><i class="fa fa-angle-double-right"></i>register</a></li>
        <li><a href="shop-right-sidebar.html"><i class="fa fa-angle-double-right"></i>shop</a></li>
        <li><a href="submit-resume.html"><i class="fa fa-angle-double-right"></i>submit resume</a></li>
    </ul>
</div>