<!-- ===== Start of Testimonial Section ===== -->
<section class="ptb80" id="testimonials">
    <div class="container">

        <!-- Section Title -->
        <div class="section-title">
            <h2 class="text-white">testimonials</h2>
        </div>


        <!-- Start of Owl Slider -->
        <div class="owl-carousel testimonial">

            <!-- Start of Slide item -->
            <div class="item">
                <div class="review">
                    <blockquote>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy t ext ever since the 1500s.</blockquote>
                </div>
                <div class="customer">
                    <img src="assets/images/clients/client1.jpg" alt="">
                    <h4 class="uppercase pt20">customer</h4>
                </div>
            </div>
            <!-- End Slide item -->

            <!-- Start of Slide item -->
            <div class="item">
                <div class="review">
                    <blockquote>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy t ext ever since the 1500s.</blockquote>
                </div>
                <div class="customer">
                    <img src="assets/images/clients/client2.jpg" alt="">
                    <h4 class="uppercase pt20">customer</h4>
                </div>
            </div>
            <!-- End Slide item -->

            <!-- Start of Slide item -->
            <div class="item">
                <div class="review">
                    <blockquote>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy t ext ever since the 1500s.</blockquote>
                </div>
                <div class="customer">
                    <img src="assets/images/clients/client3.jpg" alt="">
                    <h4 class="uppercase pt20">customer</h4>
                </div>
            </div>
            <!-- End Slide item -->

        </div>
        <!-- End of Owl Slider -->

    </div>
</section>
<!-- ===== End of Testimonial Section ===== -->