<div class="col-md-3 col-sm-6 col-xs-6 footer-posts">
    <h3>popular posts</h3>

    <!-- Single Post 1 -->
    <div class="footer-blog-post">

        <!-- Thumbnail -->
        <div class="thumbnail-post">
            <a href="blog-post-right-sidebar.html">
                <img src="assets/images/blog/blog1.jpg" alt="">
            </a>
        </div>

        <!-- Link -->
        <div class="post-info">
            <a href="blog-post-right-sidebar.html">blog post 1</a>
            <span>1 day ago</span>
        </div>
    </div>

    <!-- Single Post 2 -->
    <div class="footer-blog-post">

        <!-- Thumbnail -->
        <div class="thumbnail-post">
            <a href="blog-post-right-sidebar.html">
                <img src="assets/images/blog/blog2.jpg" alt="">
            </a>
        </div>

        <!-- Link -->
        <div class="post-info">
            <a href="blog-post-right-sidebar.html">blog post 2</a>
            <span>2 day ago</span>
        </div>
    </div>

    <!-- Single Post 3 -->
    <div class="footer-blog-post">

        <!-- Thumbnail -->
        <div class="thumbnail-post">
            <a href="blog-post-right-sidebar.html">
                <img src="assets/images/blog/blog3.jpg" alt="">
            </a>
        </div>

        <!-- Link -->
        <div class="post-info">
            <a href="blog-post-right-sidebar.html">blog post 3</a>
            <span>4 day ago</span>
        </div>
    </div>
</div>