/***************Common  Css***************/
@font-face {
    font-family: 'helvetica_condensed_lightRg';
    src: url('../fonts/helvetica-condensed-light-webfont.eot');
    src: url('../fonts/helvetica-condensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica-condensed-light-webfont.woff') format('woff'),
         url('../fonts/helvetica-condensed-light-webfont.ttf') format('truetype'),
         url('../fonts/helvetica-condensed-light-webfont.svg#helvetica_condensed_lightRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{  font-size:14px; padding:0; margin:0; font-family:"helvetica_condensed_lightRg",Arial, Helvetica, sans-serif; color:#000000; }
html,body{ height:100%;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {  display: block;}
h1,h2,h3,h4,h5,h6{ padding:0; margin:0; }
audio,canvas,video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}
img{ border:0; outline:none; }
p{ padding:0; margin:5px 0px 10px 0px; font-size:16px;}
/*********************** Clearfix *****************************/
.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}
 
.clearfix {
   display: inline-block;
}
 
html[xmlns] .clearfix {
   display: block;
}
 
* html .clearfix {
   height: 1%;
   overflow: visible;
}
/***************Common  Css***************/



/***************Header Css***************/
.header{ width:1140px; margin:0 auto; display:block;}
.header-left{ float:left;}
.header-right{ float:right;}
.logo{ float:left;}
.topRightLogo { float:left; margin-top:22px;}
.topRightLogo img{ float:left; margin-left:10px;}
/***************Header Css***************/


/***************Nav Css***************/
.outer-nav{ width:100%; float:left; background:url(../images/nav-bg.png) repeat-x; height:82px;}
.wrapper-nav{width:1140px; margin:0 auto;}

.nav{ float:left; margin-top:6px; height:69px; line-height:69px;}
.nav ul{ padding:0; margin:0;}
.nav ul li{ list-style:none; display:inline; float:left; padding-left:30px; padding-right:30px; background:url(../images/nav-seprator.jpg) no-repeat right top;}
.nav ul li:first-child{ padding-left:0px;}
.nav ul li:last-child{ background:none;}
.nav ul li a{ color:#ffffff; text-decoration:none; font-family:"helvetica_condensed_lightRg",Arial, Helvetica, sans-serif; font-size:20px; }

.timer{ float:right; margin-top:11px;}
/***************Nav Css***************/


/***************Container Css***************/
.content{ width:100%; float:left; text-align:center; padding-top:2%; padding-bottom:2%; }
.login{ width:40%; display:inline-block; padding:5px 59px; border:solid 1px #e4e4e4; border-radius:10px; color:#251c5d;}
.login-heading{ width:100%; float:left; text-align:center; font-size:40px;}
.login-subheading{ width:100%; float:left; text-align:center; font-size:20px;}
.login-instruction{ width:100%; font-size:16px; float:left; text-align:left;}

.login-form{ width:100%; padding:4% 0px 2% 0px; margin:0; float:left;}
.login-form p{ padding:0; margin:0; float:left; width:100%;margin-bottom:20px; text-align:left;}
.login-form p label{ width:170px; float:left; text-align:left; font-size:16px; line-height:35px;}
.login-form p input[type="text"],.login-form p input[type="password"]
{border:solid 1px #e3e3e3; padding:0px 4px; width:75%; height:33px; line-height:33px; float:left; border-radius:3px; 
font-family:"helvetica_condensed_lightRg",Arial, Helvetica, sans-serif; font-size:16px; }
.login-form p input[type="submit"]{ background:#21bae6; display:inline-block; color:#ffffff; font-size:22px; border-radius:5px; height:35px; line-height:35px; padding:0px 35px; border:0; outline:none; font-family:"helvetica_condensed_lightRg",Arial, Helvetica, sans-serif; cursor:pointer; margin-left:170px; }
/***************Container Css***************/




/***************Footer Css***************/
.wrapper-footer{ background:#575757; height:52px; float:left; width:100%; position:fixed; bottom:0;   }
.footer{ width:1140px; margin:0 auto;}
.copyright{ width:100%; float:left; line-height:52px; text-align:center;font-family:"helvetica_condensed_lightRg",Arial, Helvetica, sans-serif; color:#ffffff; font-size:16px;}
/***************Footer Css***************/


/***************Quesiton Css***************/
.question-answer{ width:1140px; margin:0 auto;}
.question-answerL{ width:360px; float:left;} 
.question-answerR{ width:750px; float:right;} 

.question{ width:358px; height:380px; border:solid 1px #e4e4e4; float:left; border-radius:10px; position:relative;}
.question-Heading{ width:100%; float:left; margin-top:10px; text-align:center; color:#494949; font-size:38px;}
.question-Heading strong{ color:#363636;}
.question-Heading span{ color:#d87300; font-weight:bold;}
.question-meter{ width:100%; float:left; text-align:center; margin-top:10px; margin-bottom:10px;}
.question-detail{width:80%; padding:0 10% ;text-align:center; font-size:18px; float:left;}


.answer{ width:750px; float:left;}
.answer-key{background-color:#26b4e0; width:750px; float:left; height:80px; border-radius:0px 10px 10px 0px; background-image:url(../images/arrow.png); 
background-repeat:no-repeat; background-position:left top; margin-bottom:20px;}
.answer-key p{ font-size:20px; color:#ffffff; padding:0px 0px 0px 35px; margin:0; line-height:80px; float:left; text-align:left;}
.answer-key span{ background:url(../images/tick.png) no-repeat right top; margin-top:20px; margin-right:25px; width:50px; height:41px; float:right; z-index:999;}

.answer-key:hover{background-color:#0c7496;}
.answer-active{background-color:#0c7496!important;}

.left-arrow{ position:absolute; bottom:10px; left:10px;}
.right-arrow{ position:absolute; bottom:10px; right:10px;}
.question-hint{ width:100%; float:left; text-align:center; height:65px; line-height:65px; font-size:18px; background:#eeeeee; margin-top:20px;}
.pagination{ width:100%; text-align:center; margin-top:15px; float:left;}
.pagination ul{ padding:0; margin:0; display:inline-block;}
.pagination ul li{ list-style:none; display:inline; float:left; margin-left:3px; margin-right:3px; font-size:16px;}
.pagination ul li a{color:#000000; text-decoration:none; padding:5px 5px; background:#ffffff;}
.pagination ul li a:hover{background:#eeeeee;}
.pagination ul li.next a{color:#00455b; font-weight:bold;}
.pagination ul li.arrow{color:#00455b; font-weight:bold; }
/***************Quesiton Css***************/


/***************Results Css***************/
.results h1{ width:100%; text-align:left; height:auto;}
.results h2{ width:100%; text-align:left; font-size:18px ; padding-top:30px; width:100%}
.results-box{ width:96%; height:auto; background:#eeeeee ; margin-top:20px; padding:2%; font-size:18px; margin-bottom:10px; text-align:left;}
.questions-box{width:100%;height:auto;}
.results .questions { width:100%; height:auto; padding-bottom:30px; color:#0007fd; font-size:16px; }
.results .selected { width:100%; font-size:12px; height:auto; color:#ff3300;  }
.results .selected-name { width:100%; font-size:16px; height:auto; padding-bottom:30px; color:#ff3300;  }
.results .answers { width:100%; font-size:12px; height:auto; color:#008000;  }
.results .answers-name { width:100%; font-size:16px; height:auto; color:#008000;  }
.results-box2{ width:96%; height:auto; background:#fff ; margin-top:20px; padding:2%; font-size:18px; margin-bottom:10px; text-align:left;}
.results .img-box{ width:96% ; height:auto;}
.results .img-box img{ width:100px ; height:100px;}
.results .Section-box{ width:100%; height:auto; padding-bottom:50px;} 
.results .Section-left{ width:48%; text-align:left; height:auto; float:left;}
.results .Section-con{ width:100%; height:auto; font-size:10px; color:#ff0000 ; padding-bottom:5px; float:left;}
.results .Section-right{ width:48%; height:auto; font-size:24px ; padding-top:50px; color:#ff0000 ; text-align:center; float:right;}

.sponsor-box{ width:1140px; padding-top:30px; padding-bottom:50px; height:auto; margin-left: auto; margin-right: auto ;}
.sponsor-box img{ width:100%;}
.sponsor-left{ width:181px; height:auto; float:left;}
.sponsor-single{ width:181px; height:auto; float:left;}



/***************Results Css***************/



.ie8 body{
	display:none !important;}


.forFooterBottom{
  float: left;
  height: auto !important;
  min-height: 100%;
  position: relative;
  width: 100%;
}
form p.errors{
    color:#FA4609;
}


.dl-menuwrapper{
	display:none;}

@media only screen and (min-width: 768px) and (max-width: 1169px){
	
.header {
    padding: 2%;
    width: 96%;
}

.wrapper-nav{
	width:96%;}

.question{
	width:32%;
	height:247px !important;}

.question-meter{
	width:96%;
	margin:0 auto;}

.question-meter img{
	width:100%;}

.question-answer{
	width:98%;}
	
.question-answerL{
	float:none;
	width:100%;}

.question-answerR{
	width:66%;}	

.question-Heading{
	float:none;
	font-size:32px;}

.question-detail{
	float:none;
	padding:0;
	width:100%;}

.answer{
	float:none;
	width:100%;}
	
.answer-key{
	width:100%;
	height:56px !important;}

.answer-key p{
	padding:0 0 0 26px;
	line-height:61px !important;}

.answer-key span{
	width:50px;
	height:41px;
	border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-webkit-border-radius:5px;}	

.question-hint{
	height:100% !important;
	padding:11px 0;
	overflow:hidden;
	float:none;
	line-height:22px;}

.wrapper-footer{
	height:auto;
	position:relative;}


.pagination{
	float:none;}

.footer{
	width:100%;}

.copyright{
	float:none;}	

.errors{color:#FF0000;}
.success{ color:#006600;}

/*--------------------------------login page css start here--------------------------------*/
	
.login{
	width:61%;
	padding:10px 33px;}	

.login-heading{
	float:none;}

.login-subheading{
	float:none;}

.login-form{
	float:none;}

.login-form p{
	width:100%;
	overflow:hidden;
	float:none;
		margin:10px 0 20px;}	

.login-form p input[type="text"], .login-form p input[type="password"]{
	width:97%;
}

.login-form p input[type="submit"]{
	margin-left:0%;}	

	}


/*********************** Clearfix *****************************/
@media screen and (max-width: 767px) 
{
	html {
			-webkit-text-size-adjust: none;
		}
		
	img {
		max-width: 100%;
		height: auto;
		width: auto\9; /* ie8 */
	}
	
	.video embed,
	.video object,
	.video iframe {
		width: 100%;
		height: auto;
	}	
}




/*@media (min-width: 768px) and (max-width: 1366px){

.answer-key p{
	line-height:61px !important;}
	
.answer-key span{
	margin-top:10px;}

.answer-key{ background-position:left center !important;}
.outer-nav{
	height:75px !important;}

.content{
	padding-top:1% !important;}
	
.answer-key{
	margin-bottom:8px !important;
	height:60px !important;}

.answer-key p{
	line-height:66px;}

.question-hint{
	margin-top:6px;}

.question{
   height: 264px !important;
}


}
*/


@media only screen and (min-width: 569px) and (max-width: 767px){
	
.header {
    padding: 2%;
    width: 96%;
}

.wrapper-nav{
	width:96%;}

.question{
	width:100%;}

.question-answer{
	width:98%;}
	
.question-answerL{
	float:none;
	width:100%;}

.question-answerR{	float:none;
	width:100%;}	

.question-Heading{
	float:none;}

.question-detail{
	float:none;
	padding:0;
	width:100%;}

.answer{
	float:none;
	width:100%;}
	
.content{
 float: none;}

.answer-key{
	width:100%;}

.answer-key p{
	padding:0 0 0 26px;}

.answer-key span{
	width:50px;
	height:41px;
	border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-webkit-border-radius:5px;}	

.question-hint{
	height:100% !important;
	padding:11px 0;
	overflow:hidden;
	float:none;
	line-height:28px;}

.wrapper-footer{
	position:relative;
	height:auto;}


.pagination{
	float:none;}

.footer{
	width:100%;}

.copyright{
	float:none;}
	


/*--------------------------------login page css start here--------------------------------*/
	
.login{
	width:61%;
	padding:10px 33px;}	

.login-heading{
	float:none;}

.login-subheading{
	float:none;}

.login-form{
	float:none;}

.login-form p{
	width:100%;
	overflow:hidden;
	float:none;
		margin:10px 0 20px;}	

.login-form p input[type="text"], .login-form p input[type="password"]{
	width:97%;
}

.login-form p input[type="submit"]{
	margin-left:0%;}	


	

	}

@media only screen and (min-width: 320px) and (max-width: 568px){


.wrapper-nav{
	position:relative;}

.nav{
	display:none;}

.dl-menuwrapper{
	display:block;
	top:17px;
	z-index:5;
	position:absolute !important;}

.dl-menuwrapper button:after{
	box-shadow:none;}
	
.dl-menuwrapper button{	background:url(../images/button.jpg) no-repeat center #cccccc !important;	}

.dl-menuwrapper li{
	text-align:center;
	font-size:20px;
	border-top:solid 1px #666666;}


.dl-menuwrapper li a{
	text-decoration:none;}

.header{
	width:100%;}

.header-left{
	float:none;}

.logo{	float:none;
text-align:center;}
.topRightLogo{
	float:none;
	text-align:center;}
.topRightLogo img{
	float:none;}
		
.header-right{
	float:none;}


.outer-nav{
	float:none;}

.wrapper-nav{
	width:100%;}

.question{
	width:98%;
	float:none;}

.question-answer{
	width:98%;}
	
.question-answerL{
	float:none;
	margin-top:6px;
	margin-bottom:12px;
	width:100%;}

.question-answerR{	float:none;
	width:100%;}	

.question-Heading{
	float:none;}

.question-detail{
	float:none;
	padding:0;
	width:100%;}

.answer{
	float:none;
	width:100%;}
	
.content{
 float: none;}

.answer-key{
	width:100%;}

.answer-key p{
	padding:0 0 0 26px;
	font-size:17px;}

.answer-key span{
	width:46px;
	height:40px;
	border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-webkit-border-radius:5px;}	

.question-hint{
	height:100% !important;
	padding:11px 0;
	overflow:hidden;
	float:none;
	line-height:28px;}

.wrapper-footer{
	position:relative;
	height:auto;}


.pagination{
	float:none;}

.footer{
	width:100%;}

.copyright{
	float:none;}
	
	

/*--------------------------------login page css start here--------------------------------*/
	
.login{
	width:86%;
	padding:5px 10px !important;}	

.login-form{
	float:none;}

.login-form p{
	width:100%;
	overflow:hidden;
	float:none;
		margin:0 0 5px;}	

.login-form p input[type="text"], .login-form p input[type="password"]{
	width:96%;
}

.login-form p input[type="submit"]{
	margin-left:0px;}	

	}







 
 