<!-- ===== Start of Popular Categories Section ===== -->
<section class="ptb80" id="categories">
    <div class="container">

        <div class="section-title">
            <h2>popular categories</h2>
        </div>

        <div class="row nomargin">
            <!-- Start of Category div -->
            <div class="col-md-3 col-sm-6 col-xs-12 cat-wrapper">
                <div class="category ptb30">

                    <!-- Icon -->
                    <div class="category-icon">
                        <i class="fa fa-line-chart"></i>
                    </div>

                    <!-- Category Info - Title -->
                    <div class="category-info pt30">
                        <a href="#">accountance</a>
                        <p>(9 open positions)</p>
                    </div>

                    <!-- Category Description -->
                    <div class="category-descr">
                        <span>Lorem Ipsum is simply dummy text of the printing industry. Lorem has been the standard dummy text since 1500s.</span>
                    </div>

                </div>
            </div>
            <!-- End of Category div -->

            <!-- Start of Category div -->
            <div class="col-md-3 col-sm-6 col-xs-12 cat-wrapper">
                <div class="category ptb30">

                    <!-- Icon -->
                    <div class="category-icon">
                        <i class="fa fa-university"></i>
                    </div>

                    <!-- Category Info - Title -->
                    <div class="category-info pt30">
                        <a href="#">banking</a>
                        <p>(9 open positions)</p>
                    </div>

                    <!-- Category Description -->
                    <div class="category-descr">
                        <span>Lorem Ipsum is simply dummy text of the printing industry. Lorem has been the standard dummy text since 1500s.</span>
                    </div>

                </div>
            </div>
            <!-- End of Category div -->

            <!-- Start of Category div -->
            <div class="col-md-3 col-sm-6 col-xs-12 cat-wrapper">
                <div class="category ptb30">

                    <!-- Icon -->
                    <div class="category-icon">
                        <i class="fa fa-pencil"></i>
                    </div>

                    <!-- Category Info - Title -->
                    <div class="category-info pt30">
                        <a href="#">design & art</a>
                        <p>(36 open positions)</p>
                    </div>

                    <!-- Category Description -->
                    <div class="category-descr">
                        <span>Lorem Ipsum is simply dummy text of the printing industry. Lorem has been the standard dummy text since 1500s.</span>
                    </div>

                </div>
            </div>
            <!-- End of Category div -->

            <!-- Start of Category div -->
            <div class="col-md-3 col-sm-6 col-xs-12 cat-wrapper">
                <div class="category ptb30">

                    <!-- Icon -->
                    <div class="category-icon">
                        <i class="fa fa-umbrella"></i>
                    </div>

                    <!-- Category Info - Title -->
                    <div class="category-info pt30">
                        <a href="#">insurance</a>
                        <p>(6 open positions)</p>
                    </div>

                    <!-- Category Description -->
                    <div class="category-descr">
                        <span>Lorem Ipsum is simply dummy text of the printing industry. Lorem has been the standard dummy text since 1500s.</span>
                    </div>

                </div>
            </div>
            <!-- End of Category div -->
        </div>

        <div class="row pt40 nomargin">
            <!-- Start of Category div -->
            <div class="col-md-3 col-sm-6 col-xs-12 cat-wrapper">
                <div class="category ptb30">

                    <!-- Icon -->
                    <div class="category-icon">
                        <i class="fa fa-desktop"></i>
                    </div>

                    <!-- Category Info - Title -->
                    <div class="category-info pt30">
                        <a href="#">IT engineer</a>
                        <p>(22 open positions)</p>
                    </div>

                    <!-- Category Description -->
                    <div class="category-descr">
                        <span>Lorem Ipsum is simply dummy text of the printing industry. Lorem has been the standard dummy text since 1500s.</span>
                    </div>

                </div>
            </div>
            <!-- End of Category div -->

            <!-- Start of Category div -->
            <div class="col-md-3 col-sm-6 col-xs-12 cat-wrapper">
                <div class="category ptb30">

                    <!-- Icon -->
                    <div class="category-icon">
                        <i class="fa fa-line-chart"></i>
                    </div>

                    <!-- Category Info - Title -->
                    <div class="category-info pt30">
                        <a href="#">healthcare</a>
                        <p>(14 open positions)</p>
                    </div>

                    <!-- Category Description -->
                    <div class="category-descr">
                        <span>Lorem Ipsum is simply dummy text of the printing industry. Lorem has been the standard dummy text since 1500s.</span>
                    </div>

                </div>
            </div>
            <!-- End of Category div -->

            <!-- Start of Category div -->
            <div class="col-md-3 col-sm-6 col-xs-12 cat-wrapper">
                <div class="category ptb30">

                    <!-- Icon -->
                    <div class="category-icon">
                        <i class="fa fa-heart"></i>
                    </div>

                    <!-- Category Info - Title -->
                    <div class="category-info pt30">
                        <a href="#">marketing</a>
                        <p>(7 open positions)</p>
                    </div>

                    <!-- Category Description -->
                    <div class="category-descr">
                        <span>Lorem Ipsum is simply dummy text of the printing industry. Lorem has been the standard dummy text since 1500s.</span>
                    </div>

                </div>
            </div>
            <!-- End of Category div -->

            <!-- Start of Category div -->
            <div class="col-md-3 col-sm-6 col-xs-12 cat-wrapper">
                <div class="category ptb30">

                    <!-- Icon -->
                    <div class="category-icon">
                        <i class="fa fa-lightbulb-o"></i>
                    </div>

                    <!-- Category Info - Title -->
                    <div class="category-info pt30">
                        <a href="#">management</a>
                        <p>(4 open positions)</p>
                    </div>

                    <!-- Category Description -->
                    <div class="category-descr">
                        <span>Lorem Ipsum is simply dummy text of the printing industry. Lorem has been the standard dummy text since 1500s.</span>
                    </div>

                </div>
            </div>
            <!-- End of Category div -->
        </div>

        <div class="col-md-12 mt60 text-center">
            <a href="search-jobs-1.html" class="btn btn-blue btn-effect nomargin">browse all</a>
        </div>

    </div>
</section>
<!-- ===== End of Popular Categories Section ===== -->
<!-- <app-popular-categories-list></app-popular-categories-list> -->