<!-- ===== Start of Partners ===== -->
<section class="ptb40" id="partners">
    <div class="container">
        <!-- Start of Owl Slider -->
        <div class="owl-carousel partners-slider">
            <!-- Partner Logo -->
            <div class="item" *ngFor="let data of sponsorList">
                <a href="#"><img [src]="'assets/images/companies/'+data.img_src" alt=""></a>
            </div>
        </div>
        <!-- End of Owl Slider -->
    </div>
</section>
<!-- ===== End of Partners ===== -->