<!-- ===== Start of CountUp Section ===== -->
    <section class="ptb40" id="countup">
        <div class="container">

            <!-- 1st Count up item -->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <span class="counter" data-from="0" data-to="743"></span>
                <h4>members</h4>
            </div>

            <!-- 2nd Count up item -->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <span class="counter" data-from="0" data-to="579"></span>
                <h4>jobs</h4>
            </div>

            <!-- 3rd Count up item -->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <span class="counter" data-from="0" data-to="251"></span>
                <h4>resumes</h4>
            </div>

            <!-- 4th Count up item -->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <span class="counter" data-from="0" data-to="330"></span>
                <h4>companies</h4>
            </div>

        </div>
    </section>
    <!-- ===== End of CountUp Section ===== -->