<!-- ===== Start of Footer Copyright Section ===== -->
<div class="copyright ptb40">
    <div class="container">

        <div class="col-md-6 col-sm-6 col-xs-12">
            <span>Copyright &copy; <a href="#">cariera</a>. All Rights Reserved</span>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <!-- Start of Social Media Buttons -->
            <ul class="social-btns list-inline text-right">
                <!-- Social Media -->
                <li>
                    <a href="#" class="social-btn-roll facebook">
                        <div class="social-btn-roll-icons">
                            <i class="social-btn-roll-icon fa fa-facebook"></i>
                            <i class="social-btn-roll-icon fa fa-facebook"></i>
                        </div>
                    </a>
                </li>

                <!-- Social Media -->
                <li>
                    <a href="#" class="social-btn-roll twitter">
                        <div class="social-btn-roll-icons">
                            <i class="social-btn-roll-icon fa fa-twitter"></i>
                            <i class="social-btn-roll-icon fa fa-twitter"></i>
                        </div>
                    </a>
                </li>

                <!-- Social Media -->
                <li>
                    <a href="#" class="social-btn-roll google-plus">
                        <div class="social-btn-roll-icons">
                            <i class="social-btn-roll-icon fa fa-google-plus"></i>
                            <i class="social-btn-roll-icon fa fa-google-plus"></i>
                        </div>
                    </a>
                </li>

                <!-- Social Media -->
                <li>
                    <a href="#" class="social-btn-roll instagram">
                        <div class="social-btn-roll-icons">
                            <i class="social-btn-roll-icon fa fa-instagram"></i>
                            <i class="social-btn-roll-icon fa fa-instagram"></i>
                        </div>
                    </a>
                </li>

                <!-- Social Media -->
                <li>
                    <a href="#" class="social-btn-roll linkedin">
                        <div class="social-btn-roll-icons">
                            <i class="social-btn-roll-icon fa fa-linkedin"></i>
                            <i class="social-btn-roll-icon fa fa-linkedin"></i>
                        </div>
                    </a>
                </li>

                <!-- Social Media -->
                <li>
                    <a href="#" class="social-btn-roll rss">
                        <div class="social-btn-roll-icons">
                            <i class="social-btn-roll-icon fa fa-rss"></i>
                            <i class="social-btn-roll-icon fa fa-rss"></i>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- End of Social Media Buttons -->
        </div>

    </div>
</div>
<!-- ===== End of Footer Copyright Section ===== -->