<!-- ===== Start of Main Search Section ===== -->
<section class="main overlay-black">
    <!-- Start of Wrapper -->
    <div class="container wrapper">
        <h1 class="capitalize text-center text-white">your career starts now</h1>
        <!-- Start of Form -->
        <form class="job-search-form row pt40" action="#" method="get">
            <!-- Start of keywords input -->
            <div class="col-md-3 col-sm-12 search-keywords">
                <label for="search-keywords">Keywords</label>
                <input type="text" name="search-keywords" id="search-keywords" placeholder="Keywords">
            </div>
            <!-- Start of category input -->
            <div class="col-md-3 col-sm-12 search-categories">
                <label for="search-categories">Category</label>
                <select name="search-categories" class="selectpicker" id="search-categories" data-live-search="true" title="Select Category" data-size="5" data-container="body" [(ngModel)]="searchForm.category_id">
                    <option *ngFor="let cat of categoryData" value="{{cat.category_id}}">{{cat.category_name}}</option>
                </select>
            </div>
            <!-- Start of location input -->
            <div class="col-md-4 col-sm-12 search-location">
                <label for="search-location">Location</label>
                <input type="text" name="search-location" id="search-location" placeholder="Location">
            </div>
            <!-- Start of submit input -->
            <div class="col-md-2 col-sm-12 search-submit">
                <button type="submit" class="btn btn-blue btn-effect btn-large" (click)="search()"><i class="fa fa-search"></i>search</button>
            </div>
        </form>
        <!-- End of Form -->
        <div class="extra-info pt20">
            <span class="text-left text-white"><b>36</b> job offers for <b>you.</b></span>
            <a href="#" class="capitalize pull-right text-white">advanced search</a>
        </div>
    </div>
    <!-- End of Wrapper -->
</section>
<!-- ===== End of Main Search Section ===== -->