/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

input.ng-invalid.ng-touched,
input:focus.ng-invalid.ng-dirty,
select.ng-invalid.ng-touched,
select:focus.ng-invalid.ng-dirty {
	border: 1px solid red;
}
.redItalic {
	color: red;
    font-style: italic;
}