<div class="col-md-3 col-sm-6 col-xs-6 footer-newsletter">
    <h3>newsletter</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>

    <!-- Subscribe Form -->
    <form action="#" class="form-inline mailchimp mtb30" novalidate>

        <!-- Form -->
        <div class="form-group">
            <div class="input-group">
                <input type="email" name="EMAIL" class="form-control" id="mc-email" placeholder="Your Email" autocomplete="off">
                <label for="mc-email"></label>
                <button type="submit" class="btn btn-blue btn-effect">Submit</button>
            </div>
        </div>
    </form>

    <!-- Start of Live Chat -->
    <div class="footer-chat row nomargin">

        <!-- Supporter Image -->
        <div class="col-md-4">
            <div class="supporter-image">
                <img src="assets/images/clients/client4.jpg" alt="">
            </div>
        </div>

        <!-- Chat details -->
        <div class="col-md-8">
            <div class="chat-details">
                <span>Helpline Center</span>

                <p class="pt10 nomargin">Chat Live now!
                    <br>Hello, my name is John Doe, how may i help you?</p>

                <!-- Live Chat Link -->
                <div class="text-right pt15">
                    <a href="#"><i class="fa fa-comments-o"></i>Live Chat</a>
                </div>

            </div>
        </div>
    </div>
    <!-- End of Live Chat -->
</div>