<div class="col-md-3 col-sm-6 col-xs-6 footer-about">
	<!-- Your Logo Here -->
	<a routerLink="">
	    <img src="assets/images/logo-white.svg" alt="">
	</a>

	<!-- Small Description -->
	<p class="pt40">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type changed.</p>

	<!-- Info -->
	<ul class="nopadding">
	    <li><i class="fa fa-map-marker"></i>New York City, USA</li>
	    <li><i class="fa fa-phone"></i>(123) 456 789 0012</li>
	    <li><i class="fa fa-envelope-o"></i>youremail@cariera.com</li>
	</ul>
</div>