<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>H2H Entertainment Company</title>
</head>

<body style="background:#9dd442; margin:0px; padding:0px;">
<table width="650px" align="center" cellspacing="0" cellpadding="0" border="0" style="font-family:Arial, Helvetica, sans-serif; background:#FFF; color:#666;">
<tbody>
<tr>
<td align="center" height="100"  style="font-family:Arial, Helvetica, sans-serif; background:#FFF; color:#666;"><img src="../assets/images/logo.png"></td>
</tr> 
<tr>
<td height="2" style="background:#9dd442;"></td>
</tr>
<tr>
<td style="font-family:Arial, Helvetica, sans-serif; background:#FFF; font-size:12px; padding:10px;">
<table width="97%" align="center" cellspacing="0" cellpadding="0" border="0">
<tr>
<td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br /><br />
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</td>
</tr>
</table>
</td>
</tr>
 <tr>
<td height="2" style="background:#9dd442;"></td>
</tr>
<tr>
<td align="center" height="50"  style="font-family:Arial, Helvetica, sans-serif; background:#FFF; color:#666;">
Copyright © 2014. All Rights Reserved.

</td>
</tr>
</tbody>
</table>
</body>
</html>
